# {
#   "parser": "babel-eslint",
#   "extends": ["airbnb","standard"],
#   "plugins": [
#     "flowtype"
#   ]
# }
{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 2
    }
}
