.container-form{
  width: 60%;
  min-width: 310px;
  max-width: 715px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  .container-header{
    font-size: 1rem;
  }
  .body-form{
    padding: 15px;
    .section-form{
      display: flex;
      justify-content: space-around;
      .text-form{

      }
    }
    .section-form-date{

      .date{
        margin-left: -60px;
      }
    }
    .section-button-form{
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      .button{
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

}
@media (max-width: 750px) {
  .container-form{

    .container-header{
    }
    .body-form{
      .section-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .text-form{

        }
      }
      .section-form-date{

        .date{
        }
      }
      .section-button-form{

        .button{

        }
      }
    }

  }
}
