@import "normalize";
body{
  background: rgb(230, 230, 230);
  background-color: white;
}
a:link
{
 text-decoration:none;
}
@import "login.scss";
@import "admin.scss";
@import "body.scss";
@import "common.scss";
